h1 {
    font-size: 50px;
    color: white;
    font-weight: normal;
}

body {
    background-color: black;
    text-align: center;
    font-family: verdana;
    font-weight: normal;
}

#dlex {
    color: aquamarine;
    font-size: 16px;
    font-weight: normal;
}